Repository intel/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: Lint
    pool:
      vmImage: ubuntu-22.04
    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.9'
        addToPath: true
    - script: 'python -m pip install --upgrade pip setuptools
  
        pip install isort black[jupyter]
  
        isort --check .
  
        black --check .
  
  ...

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

Remove redundant empty lines
  doc/sources/non-scikit-algorithms.rst
Due: .ci/pipeline/docs.yml

Update test_basic_statistics.py
  onedal/basic_statistics/tests/test_basic_statistics.py
Due: .ci/pipeline/ci.yml

formatting
  onedal/basic_statistics/tests/test_basic_statistics.py
Due: .ci/pipeline/ci.yml

Update test_incremental_basic_statistics.py
  onedal/basic_statistics/tests/test_incremental_basic_statistics.py
Due: .ci/pipeline/ci.yml

Change order
  doc/sources/non-scikit-algorithms.rst
Due: .ci/pipeline/docs.yml

Fix double description in IncLinReg docstring
  sklearnex/linear_model/incremental_linear.py
Due: .ci/pipeline/ci.yml

Fix title
  doc/sources/non-scikit-algorithms.rst
Due: .ci/pipeline/docs.yml

Remove tabs in notes
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
Due: .ci/pipeline/ci.yml

Remove compiler_c and icx-cl
  conda-recipe/meta.yaml
  scripts/build_backend.py
Due: .ci/pipeline/ci.yml

Add numpy matrix for conda-recipe CI
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

Update test_incremental_basic_statistics.py
  sklearnex/basic_statistics/tests/test_incremental_basic_statistics.py
Due: .ci/pipeline/ci.yml

Update test_basic_statistics.py
  sklearnex/basic_statistics/tests/test_basic_statistics.py
Due: .ci/pipeline/ci.yml

Fix lint
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/covariance/incremental_covariance.py
Due: .ci/pipeline/ci.yml

Update ci.yml
  .github/workflows/ci.yml
Due: .ci/pipeline/ci.yml

Add back accidentally removed empty line
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

Fix underline length for the title
  doc/sources/non-scikit-algorithms.rst
Due: .ci/pipeline/docs.yml

Remove empty lines at the end of docstrings
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/linear_model/incremental_linear.py
Due: .ci/pipeline/ci.yml

Add info about methods
  doc/sources/non-scikit-algorithms.rst
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/linear_model/incremental_linear.py
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove python req from build env for conda-recipe CI
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

Reorder and extend testing deps
  conda-recipe/meta.yaml
Due: .ci/pipeline/ci.yml

Update sklearnex/tests/test_common.py
  sklearnex/tests/test_common.py
Due: .ci/pipeline/ci.yml

Change numpy testing matrix
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

update
  doc/sources/array_api.rst
  doc/sources/index.rst
Due: .ci/pipeline/docs.yml

Update run_test.sh
  conda-recipe/run_test.sh
Due: .ci/pipeline/ci.yml

Update .coveragerc
  .coveragerc
Due: .ci/pipeline/ci.yml

[enhancement] ban trailing underscore attributes to follow sklearn convention at class definition-level (#2101)
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/tests/test_common.py
Due: .ci/pipeline/ci.yml

Update logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/ci.yml

linter
  sklearnex/tests/test_memory_usage.py
Due: .ci/pipeline/ci.yml

[fix] fix ```test_estimators[LogisticRegression()-check_estimators_unfitted]``` conformance for gpu support (#2109)
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/ci.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
